COMPOSE_PROJECT_NAME=crm-docker

RESTART_CONTAINERS=always
APP_ENVIRONMENT="development"

APACHE_WEB_HOST_IP_LISTEN="*"
APACHE_HTTP_PORT=80
APACHE_HTTPS_PORT=443

MYSQL_PORT=9306
MYSQL_ROOT_PASSWORD="test-root"
MYSQL_ROOT_HOST="%"
MYSQL_USER="web1"
MYSQL_USER_PASSWORD="15HsTool"
MYSQL_USER_HOST="%"

GITLAB_RUNNER_ID=35
GITLAB_RUNNER_TOKEN="glrt-HislsxG-FvEgv0T9OgZ_z286MQpwOjMyCnQ6Mwp1OmsQ.01.181s1wlk6"