COMPOSE_PROJECT_NAME=crm-docker

APP_ENVIRONMENT="development"

APACHE_WEB_HOST_IP_LISTEN="*"
APACHE_HTTP_PORT=9080
APACHE_HTTPS_PORT=9443

MYSQL_PORT=9306
MYSQL_ROOT_PASSWORD="test-root"
MYSQL_ROOT_HOST="%"
MYSQL_USER="web1"
MYSQL_USER_PASSWORD="15HsTool"
MYSQL_USER_HOST="%"
